# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/
.env/
.conda/
conda-env/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# setuptools_scm
deepxde/_version.py

# PyCharm
.idea/
